:root {
  --primary-font: "Outfit", "Cambria", sans-serif;
  --secondary-font: "Young Serif", "Cambria", sans-serif;
  --background-color: hsl(30, 54%, 90%);
  --light-color: white;
  --heading-color: hsl(14, 45%, 36%);
  --text-color: rgb(97, 96, 96);
  --border-radius: 1rem;
  --main-width: 48.125rem;
  --mobile-width: 25rem;
}

html,
body {
  height: auto;
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

img, section, hr {
  width: 42.5rem;
  border-radius: var(--border-radius);
}

section p,
section ul,
section ol,
.nutr-name {
  color: var(--text-color);
}

section h2 {
  font-weight: 500;
  font-size: 2rem;
  color: var(--heading-color);
}

.preparation-time ul span,
.instructions ol,
.nutr-value {
  font-weight: bold;
}

.preparation-time ul,
.ingredients ul,
.instructions ol {
  line-height: 2rem;
}

.description,
.preparation-time,
.ingredients {
  margin: auto;
}

hr,
.instructions,
.nutrition {
  margin: 0 auto;
}

.instructions ol li,
.nutrition {
  position: relative;
}

.description p,
.instructions ol li {
  line-height: 1.6rem;
}

.description h1,
.instructions ol li span.descr {
  font-weight: 400;
}

main {
  width: var(--main-width);
  height: auto;
  margin: 6.25rem auto;
  padding: 0.625rem 0 1.25rem 0;
  border-radius: 2rem;
  background-color: var(--light-color);
}

main h1,
main h2,
main h3 {
  font-family: var(--secondary-font);
}

.omelette-pic {
  display: block;
  margin: 2rem auto 0;
}

.description h1 {
  font-size: 2.5rem;
}

.description p {
  margin-bottom: 3rem;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
}

.preparation-time h3 {
  padding: 1rem 1.5rem 0 1.5rem;
  font-family: var(--primary-font);
  color: hsl(332, 51%, 32%);
}

.preparation-time ul {
  padding: 0 0 1.5rem 3.5rem;
}

.preparation-time ul li {
  padding-left: 1rem;
}

.ingredients h2 {
  margin-bottom: 0;
}

.ingredients ul {
  padding: 0 0 1.5rem 1.7rem;
}

.ingredients ul li {
  padding-left: 1.5rem;
}

.instructions ol {
  padding-left: 1.875rem;
  margin-bottom: 2.5rem;
}

.instructions ol li {
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutr-name,
.nutr-value {
  padding: 0.9rem 0;
  border-bottom: 1px solid lightgray;
}

.nutr-name {
  padding-left: 2.2rem;
}

.nutr-value {
  color: var(--heading-color);
}

tr{
  transition: background-color 0.5s;
}

tr:hover {
  background-color: rgb(248, 235, 216);
}

tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 800px) {
  img, section, hr {
    width: 30rem;
  }

  main {
    width: 35.625rem;
  }

  .omelette-pic {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  img, section, hr {
    width: 25rem;
  }

  main {
    width: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .description,
  .preparation-time,
  .ingredients,
  .instructions,
  hr,
  .nutrition {
    width: auto;
    margin: 3.125rem;
  }

  main,
  .omelette-pic {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  main {
    height: auto;
    padding: 0;
  }

  .nutrition {
    margin-bottom: 0;
    padding-bottom: 3.125rem;
  }
}
