:root {
  --primary-font: "Outfit", "Cambria", sans-serif;
  --secondary-font: "Young Serif", "Cambria", sans-serif;
  --background-color: hsl(30, 54%, 90%);
  --light-color: hsl(0, 0%, 100%);
  --lightgray-color: hsl(0, 0%, 83%);
  --recipe-title-color: hsl(24, 5%, 18%);
  --heading-color: hsl(14, 45%, 36%);
  --time-color: hsl(332, 51%, 32%);
  --time-bg-color: hsl(330, 100%, 98%);
  --text-color: hsl(0, 1%, 38%);
  --row-hover-color: hsl(36, 70%, 91%);
}

html,
body {
  height: auto;
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

.instructions__item,
.recipe__nutrition {
  position: relative;
}

section,
.recipe__image,
.recipe__divider {
  width: 42.5rem;
  border-radius: 1rem;
}

.recipe__title,
.ingredients__title,
.instructions__title,
.nutrition__title {
  font-family: var(--secondary-font);
}

.time__label,
.instructions__list,
.nutrition__value {
  font-weight: bold;
}

.recipe__title,
.instructions__item-description {
  font-weight: 400;
}

.ingredients__title,
.instructions__title,
.nutrition__title {
  font-weight: 500;
  font-size: 2rem;
  color: var(--heading-color);
}

.recipe__description,
.time__list,
.ingredients__list,
.instructions__list,
.nutrition__text,
.nutrition__name {
  color: var(--text-color);
}

.time__list,
.ingredients__list,
.instructions__list {
  line-height: 2rem;
}

.recipe__text,
.instructions__item {
  line-height: 1.6rem;
}

.recipe__description,
.recipe__time,
.recipe__ingredients {
  margin: auto;
}

.recipe__divider,
.recipe__instructions,
.recipe__nutrition {
  margin: 0 auto;
}

.recipe {
  width: 48.125rem;
  height: auto;
  margin: 6.25rem auto;
  padding: 0.625rem 0 1.25rem 0;
  border-radius: 2rem;
  background-color: var(--light-color);
}

.recipe__image {
  display: block;
  margin: 2rem auto 0;
}

.recipe__title {
  width: 42.5rem;
  margin: 2rem auto 1rem auto;
  font-size: 2.5rem;
  color: var(--recipe-title-color);
}

.recipe__text {
  margin-bottom: 2.5rem;
}

.recipe__time {
  background-color: var(--time-bg-color);
}

.time__title {
  padding: 1rem 1.5rem 0 1.5rem;
  font-family: var(--primary-font);
  font-size: 1.3rem;
  color: var(--time-color);
}

.time__list {
  padding: 0 0 1.5rem 3.5rem;
}

.time__item {
  padding-left: 1rem;
}

.ingredients__title {
  margin-bottom: 0;
}

.ingredients__list {
  padding: 0 0 1.5rem 1.7rem;
}

.ingredients__item {
  padding-left: 1.5rem;
}

.instructions__list {
  padding-left: 1.875rem;
  margin-bottom: 2.5rem;
}

.instructions__item {
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
}

.instructions__item::marker {
  color: var(--heading-color);
}

.nutrition__table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition__row {
  transition: background-color 0.5s;
}

.nutrition__row:hover {
  background-color: var(--row-hover-color);
}

.nutrition__row:last-child td {
  border-bottom: none;
}

.nutrition__name,
.nutrition__value {
  padding: 0.9rem 0;
  border-bottom: 1px solid var(--lightgray-color);
}

.nutrition__name {
  padding-left: 2.2rem;
}

.nutrition__value {
  color: var(--heading-color);
}

@media screen and (max-width: 800px) {
  section, 
  .recipe__image,
  .recipe__title,
  .recipe__divider {
    width: 30rem;
  }

  .recipe {
    width: 35.625rem;
  }

  .recipe__image {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  section, 
  .recipe__image,
  .recipe__title,
  .recipe__divider {
    width: 25rem;
  }

  .recipe {
    width: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .recipe__description,
  .recipe__time,
  .recipe__ingredients,
  .recipe__instructions,
  .recipe__divider,
  .recipe__nutrition {
    width: auto;
    margin: 3.125rem;
  }

  .recipe,
  .recipe__image {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .recipe {
    height: auto;
    padding: 0;
  }

  .recipe__title {
    width: auto;
    margin: 2rem 3.125rem 0;
  }

  .recipe__text {
    margin-top: 0;
  }

  .recipe__description {
    margin-top: 1rem;
  }

  .recipe__nutrition {
    margin-bottom: 0;
    padding-bottom: 3.125rem;
  }
}
